@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

::backdrop {
    background-color: black;
    opacity: 10%;
}

#projects .active, #projects .active:hover {
    background-color: rgb(229 231 235);
}

#projects .active:active {
    background-color: rgb(209 213 219);
}

#tasks .done .title {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #555;
}

#tasks .done svg {
    opacity: 100%;
}